## Python Pandas Working With XML Tutorials- Part 5
* Read XML and get Dataframe
* Convert Dataframe to XML

What is XML?

* XML stands for eXtensible Markup Language
* XML is a markup language much like HTML
* XML was designed to store and transport data
* XML was designed to be self-descriptive
* XML is a W3C Recommendation

In [2]:
import pandas as pd

In [4]:
pd.read_xml('test.xml')

,name,age,email,title,author,year
0,John Doe,30.0,john.doe@example.com,None,None,NaN
1,Jane Smith,25.0,jane.smith@example.com,None,None,NaN
2,None,NaN,None,The Adventure Begins,Robert Johnson,2022.0

In [5]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<doc:data xmlns:doc="https://example.com">
  <doc:row>
    <doc:shape>square</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides>4.0</doc:sides>
  </doc:row>
  <doc:row>
    <doc:shape>circle</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides/>
  </doc:row>
  <doc:row>
    <doc:shape>triangle</doc:shape>
    <doc:degrees>180</doc:degrees>
    <doc:sides>3.0</doc:sides>
  </doc:row>
</doc:data>'''

In [10]:
df = pd.read_xml(xml,xpath=".//doc:row",namespaces={"doc":"https://example.com"})

In [11]:
df.to_xml('test1.xml')