# Python Data Structures and Boolean
* Boolean
* Boolean and Logical Operators
* Lists
* Comparison operators
* Dictionaries
* Tuples
* Sets

## Boolean Variables
Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [1]:
print(True,False)

True False

In [2]:
type(True)

bool

In [3]:
type(False)

bool

In [8]:
my_str = 'Shivaan12'

In [9]:
print(my_str.isalnum())
print(my_str.isalpha())
print(my_str.isdigit())
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace())
print(my_str.endswith('h'))
print(my_str.startswith('S'))

True
False
False
False
False
False
False
True

## Boolean and Logical Operations

In [10]:
True and True

True

In [11]:
True and False

False

In [12]:
True or False

True

In [13]:
True or True

True

In [14]:
str_eg = 'Hello World'
my_str = 'Shivaan'

## Example questions
Boolean Values:

What are the two Boolean values in Python? Write a Python statement to assign a Boolean value to a variable.
Convert the following expressions to Boolean:
python
Copy code
x = 0
y = 5
z = -3
What will be the output of bool(x), bool(y), and bool(z)?
Logical Operators:

What will be the result of the following expressions?
python
Copy code
True and False
False or True
not False
(5 > 3) and (3 < 2)
Write a Python function that checks if a number is positive and even.
Boolean Expressions:

Determine the value of each of the following expressions:
python
Copy code
not (4 > 2)
(5 != 4) and (2 == 2)
(True or False) and (not True)
Write a Python statement that checks if a given year is a leap year using Boolean operators.

In [17]:
x = 0
y = 5
z = -3
print(bool(x))
print(bool(y))
print(bool(z))

False
True
True

In [18]:
True and False
False or True
not False
(5 > 3) and (3 < 2)

False

In [23]:
x = int(input("x: "))
if (x%2) == 0:
    print("number is even")
else:
    print('Number is odd')

x: 11
Number is odd

## Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [24]:
type([])

list

In [27]:
list_1 = ['Maths','Chem',100,200,300]

In [28]:
type(list_1)

list

In [29]:
# Append
list_1.append('Shivaan')

In [35]:
list_1

['Maths', 'Shah', 'Chem', 100, 200, 300, 'Shivaan']

In [34]:
# indexing
list_1[2]
list_1[0:3]

['Maths', 'Shah', 'Chem']

In [31]:
# Insert
list_1.insert(1,'Shah')

In [32]:
list_1

['Maths', 'Shah', 'Chem', 100, 200, 300, 'Shivaan']

In [36]:
list_1.append(['Hello','World'])

In [37]:
list_1

['Maths', 'Shah', 'Chem', 100, 200, 300, 'Shivaan', ['Hello', 'World']]

In [38]:
list_2 = [1,2,3]

In [39]:
list_2.append([4,5])

In [40]:
list_2

[1, 2, 3, [4, 5]]

In [41]:
# Extend
list_3 = [1,2,3,4,5,6]

In [42]:
list_3.extend([7,8])

In [43]:
list_3

[1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
# Various Operations to perform in list
list_4 = [1,2,3,4,5]

In [45]:
sum(list_4)

15

In [46]:
# pop() method
list_4.pop()

5

In [47]:
list_4

[1, 2, 3, 4]

In [48]:
list_4.pop(0)

1

In [49]:
list_4

[2, 3, 4]

In [51]:
# count() - total occurance
lst = [1,1,2,3,4,5]
lst.count(1)

2

In [52]:
len(lst)

6

In [53]:
lst.index(1,0,4)

0

In [54]:
min(lst)

1

In [55]:
max(lst)

5

In [56]:
# Practice Problem
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
# Write Python expressions to:
# Get the first three elements.
# Get the last five elements.
# Reverse the list using slicing.
print(numbers[0:3])
print(numbers[5:])
print(numbers[::-1])
numbers[::2]

[1, 2, 3]
[6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

[1, 3, 5, 7, 9]

# SETS
A Set is an unordered collection data type that is iterable, mutable, and has 'no duplicate elements'. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [65]:
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [66]:
set_var = {1,2,3,4,3}

In [69]:
set_var #no duplicate values are repated

{1, 2, 3, 4}

In [77]:
set_var = {'Avengers','Iron Man','Hitman'}
print(set_var)
(type(set_var))

{'Avengers', 'Iron Man', 'Hitman'}

set

In [75]:
# Indexing - does not support
#set_var['']

In [78]:
# in built functions
set_var.add('Hulk')
print(set_var)

{'Avengers', 'Hulk', 'Iron Man', 'Hitman'}

In [79]:
set1 = {'Avengers','Iron Man','Hitman'}
set2 = {'Avengers', 'Hulk', 'Iron Man', 'Hitman'}

In [80]:
# Difference
set2.difference(set1)

{'Hulk'}

In [81]:
set2

{'Avengers', 'Hitman', 'Hulk', 'Iron Man'}

In [82]:
set2.difference_update(set1)

In [83]:
set2

{'Hulk'}

In [85]:
# Examples
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [86]:
set1.intersection(set2)

{3}

In [87]:
set1.difference(set2)

{1, 2}

# Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [100]:
dict = {}

In [101]:
type(dict)

dict

In [102]:
my_dict = {'Car1':'Audi','Car2':'BMW','Car3':'Mercedes'}

In [103]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedes'}

In [104]:
type(my_dict)

dict

In [105]:
# indexing 
my_dict['Car1']

'Audi'

In [106]:
# for loops for dictonary keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [107]:
# for loops for dictonary values
for x in my_dict.values():
    print(x)

Audi
BMW
Mercedes

In [108]:
# for loop for both
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercedes')

In [109]:
# Adding Values
my_dict['car4'] = 'Lexus'

In [110]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedes', 'car4': 'Lexus'}

In [111]:
# Nested Dictionary
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [112]:
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [113]:
print(car_type['car1'])

{'Mercedes': 1960}

In [116]:
print(car_type['car1']['Mercedes'])

1960

In [117]:
# examples
dict1= {'India':'Delhi','USA':'Washington DC','France':'Paris'}

In [119]:
dict1['Germany'] = 'Berlin'

In [120]:
dict1

{'India': 'Delhi',
 'USA': 'Washington DC',
 'France': 'Paris',
 'Germany': 'Berlin'}

In [121]:
capitals = {'France': 'Paris', 'Germany': 'Berlin', 'Italy': 'Rome'}
print(capitals['France'])

Paris

In [122]:
for x in capitals.items():
    
    print(x)

('France', 'Paris')
('Germany', 'Berlin')
('Italy', 'Rome')

# Tuples

In [123]:
my_tuple = ('Shivaan','Dwight','Jim')

In [125]:
my_tuple[0] = 'Michael'

TypeError: 'tuple' object does not support item assignment

In [126]:
# inbuilt-in
my_tuple.count('Shivaan')

1

In [127]:
my_tuple.index('Jim')

2